$font-size : 17px;
.divider {
  border: 1px solid #CCCCCC;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px

}
.pic-wrapper {
  width: 150px;
  height: 150px;
  background-color: $color-secondary;
  border-radius: 100%;
}
.circle-container{
  position: relative;
  .circle-bar{
    display: inline-block;
    height: 58px;
    width: 58px;
    margin-top: 31px;
      .progressbar-text {
        color: #777777 !important;
        font-family: 'lato', sans-serif;
        font-weight: 300
    }
  }
  .circle-desc {
    display: inline-block;
    position: absolute;
    top: 33px;
    margin-left: 24px;
    .status {
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 6px;
    }
  }

}

.card {
  background: #FFFFFF;
  border-radius: 2px 2px 0 2px 2px;
  // width: 100%;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #EEEEEE;
}
a {
  cursor: pointer;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  color: #F57556;
  letter-spacing: 1px;
  line-height: 24px;
}
.shadow {
  border: none;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,0.10), 0 2px 10px 0 rgba(0,0,0,0.25);

}


large {
  font-size: $font-size;
  /* SIGN IN: */
  font-family: 'lato', sans-serif;
  color: #333333;
  display: inline-block;
  letter-spacing: 0.94px;
  font-weight: 400;
}
medium {
  display: block;
  font-family: 'lato', sans-serif;
  /* SIGN IN: */

  color: #777777;
  letter-spacing: 0.94px;
  font-weight: 400;
}
small {
  display: block;
  /* SIGN IN: */
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  color: #777777;
  letter-spacing: 0.94px;
  font-weight: 300;

}
.margin {
  // width: 100%;
  height: 100%;
}

input {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  width: 100% !important;
  overflow: hidden;
  padding: 13px 0  13px 0px;
  font-weight: 300;

}

.btn-primary {
  /* Rectangle 4: */
  background: $color-secondary;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  padding: 15px 42px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}
.btn-secondary {
  /* Rectangle 4: */
  /* Rectangle 4 Copy 2: */
  padding: 15px 35px;
  background: white;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}
.input-desc {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  margin-top: 25px;
  color: #777777;
  letter-spacing: 1px;
  font-size: $font-size
}

.navbar {
  height: 80px;
  background-color: $color-primary;
  width: 100%;
  margin-bottom: 57px;
  .trigger {
    background-color: $color-secondary;
    height: 36px;
    width: 36px;
    float: right;
    border-radius: 100%;
  }
  .menu {
    z-index: 1;
    display: none;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    position: absolute;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    right: 230px;
    top: 70px;
    .menu-section {
      // width: 100%;
      // padding-bottom: 10px;
      border-bottom: 1px solid #CCCCCC;
      .menu-header{
        padding: 20px 40px 10px 30px;
        .title {
          font-size: $font-size;
        }
      }
      .menu-item {
        padding: 15px 40px 15px 30px;
        .menu-title {

        }
      }
      .menu-item:hover {
        background-color: $color-secondary;
        .menu-title {
          color: white !important;
        }
      }
    }
  }
  .menu.active {
    display: block;
  }
}

.divider-wrapper {
  margin: 35px 0 20px 0;
  position: relative;
  button {
    position: absolute;
  }
  h2 {
     width: 100%;
     text-align: center;
     border-bottom: 1px solid #CCCCCC;
     line-height: 0.1em;
    //  margin: 10px 0 20px;
     margin: 24px 0 20px;

     font-size: 20px;
     /* SIGN IN: */
     font-family: 'lato', sans-serif;
     color: #777777;
     display: inline-block;
     letter-spacing: 0.94px;
     font-weight: 400;
     letter-spacing: 1.25px;
  }

  h2 span {
      background:$color-background;
      padding:0 40px;
  }
}

.radio-button {
  label {
        font-family: 'lato', sans-serif;
        font-weight: 300;
        color: #777777;
        letter-spacing: 1px;
        font-size: $font-size
      }
      [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 36px;
        cursor: pointer;
        line-height: 25px;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 3px solid $color-accent;
        border-radius: 100%;
        background: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $color-accent;
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.select {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  width: 100%;
  overflow: hidden;
  padding: 13px 0  13px 0px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  border-radius:0px !important;
  height: 52px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('http://www.davettur.com/themes/html/fonts/Svg_icons/expand-button.svg');
  background-position: 95% 21px;
  background-size: 11px;
background-repeat: no-repeat;
}
