* {

  .tab {
    color: #cccccc 
  }
  .react-tabs__tab--selected {
    color: #FA5962;
  }

  a:hover{
    color:#A2513D;
  }
  .small-wrap {
    height: 100%;
    width: 100%;
    // background-color: red;
  }
  .small-hover:hover {
    // background-color: red;
  }

  .btn-primary{
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .btn-primary:hover{
    background-color: #d64a52;
    cursor: pointer;
  }

  .btn-secondary{
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .btn-secondary:hover{
    background-color: #EEEEEE;
    cursor: pointer;
  }

  .list-pointer{
    cursor: pointer;
  }

}


$font-size : 17px;
label {
  font-weight: 300 !important;
  font-size: $font-size !important
}
.error {
  border-color: $color-secondary;
  background-color: #F6EAEA;
}
input.okay {
  border-color: $green;
}
.error-alert {
  color: $color-secondary;
  margin-top: 10px;

  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
.divider {

  border: 1px solid #CCCCCC;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;

}
.pic-wrapper {
  // width: 150px;
  // height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-secondary;
  border-radius: 100%;
}
.circle-container{
  position: relative;
  .meter-container {
    position: relative;
    display: inline-block;
    small {
      position: absolute;
      top: 49px;
      left: 10px;
      width: 39px;
      text-align: center;
      font-size: 16px;
    }
  }
  .circle-bar{
    display: inline-block;
    height: 58px;
    width: 58px;
    margin-top: 31px;
      .progressbar-text {
        color: #777777 !important;
        font-family: 'lato', sans-serif;
        font-weight: 300
    }
  }
  .circle-desc {
    display: inline-block;
    position: absolute;
    top: 33px;
    margin-left: 24px;
    .status {
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 6px;
    }
  }

}

.card {
  background: #FFFFFF;
  border-radius: 2px 2px 0 2px 2px;
  // width: 100%;
  border-radius: 3px;
  padding: 30px;
  overflow: hidden;
  border: 1px solid #EEEEEE;
}
a {
  cursor: pointer;
  text-decoration: underline;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  color: #F57556;
  font-weight: 300;
  letter-spacing: 1px;

  line-height: 24px;
}
.shadow {
  border: none;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,0.10), 0 2px 10px 0 rgba(0,0,0,0.25);

}


large {
  font-size: 20px;
  /* SIGN IN: */
  font-family: 'lato', sans-serif;
  color: #333333;

  display: block;
  letter-spacing: 0.94px;
  font-weight: 400;
}
medium {
  display: block;
  font-family: 'lato', sans-serif;
  /* SIGN IN: */

  // color: #777777;
  color: #333333;

  letter-spacing: 0.94px;
  font-weight: 400;
}
small {
  display: block;
  /* SIGN IN: */
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  color: #777777;
  letter-spacing: 0.94px;
  font-weight: 300;

}
.margin {
  // width: 100%;
  height: 100%;
}

input {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  width: 100%;
  overflow: hidden;
  padding: 13px 0  13px 0px;
  font-weight: 300;

}
input:disabled {
  background-color: #F4F4F4;
}
.btn-menu {
  font-family: Open Sans,sans-serif;
  font-size: 17px;
  color: #777;
  font-weight: 300;
  background: none;
  outline: none;
  border: none;
  text-align: left;
  padding: 15px 40px 15px 30px;
}
.btn-primary {
  /* Rectangle 4: */
  background: $color-secondary;
  border-radius: 2px;
  outline: none;
  border: none;
  color: white;
  display: block;
  padding: 15px 42px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}
.btn-secondary {
  /* Rectangle 4: */
  /* Rectangle 4 Copy 2: */
  display: block;
  padding: 15px 35px;
  background: white;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  display: block;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}
.input-name {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  margin-top: 25px;
  color: #777777;
  letter-spacing: 1px;
  font-size: $font-size;
  float:left;
  width: 100%;
}
.input-desc {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  display: block;
  margin-top: 0;
  color: #777777;
  letter-spacing: 1px;
  font-size: $font-size;
  float:left;
  width: 100%;

}

.navbar {
  // padding: 8px 0;
  // height: 80px;
  background-color: $color-primary;
  width: 100%;
  margin-bottom: 57px;
  #prouds-logo {
    margin-top: 0;
    padding-top: 49px;
    height: 32px;
    /* display: inline-block; */
    background-position: 50%;
    background-size: contain;
    float: left;
    background-repeat: no-repeat;
    width: 15%;
    background-image: url('../img/logo-prouds.png');
  }
  #sigma-logo {
    margin-top: 0;
    padding-top: 49px;
    height: 32px;
    /* display: inline-block; */
    background-position: 50%;
    background-size: contain;
    float: right;
    background-repeat: no-repeat;
    width: 15%;
    background-image: url('../img/logo-sigma.png');
  }
  ul{
    width: 25%;
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    li {
      // border-bottom: 4px solid white;
      padding: 27px 0;
      display: inline-block;
      margin-left: 15%;
      a {
        font-size: 16px;
        color: white;
        text-decoration: none;
      }
      a:hover{
        color:#464646;
      }
    }
    li.active{
      border-bottom: 4px solid white;
    }

  }
  .profile {
    margin: 21px 4% 0 0;
    background-color: $color-secondary;
    height: 36px;
    width: 36px;
    float: right;
    border: 2px solid white;
    border-radius: 100%;
  }
  .notif {
    margin: 21px 4% 0 0;
    background-color:white;
    height: 36px;
    width: 36px;
    float: right;
    border: 2px solid white;
    border-radius: 100%;
  }

}

.menu {
  z-index: 10;
  display: none;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  position: absolute;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  right: 170px;
  top: 90px;
  .menu-section {
    // width: 100%;
    // padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    .menu-header{
      padding: 20px 40px 10px 30px;
      .title {
        font-size: $font-size;
      }
    }
    .menu-item {
      padding: 15px 40px 15px 30px;
      .menu-title {

      }
    }
    .menu-notif-item{
      padding: 15px 40px 15px 30px;
    }
    .menu-notif-item:hover{
    background-color: #E9E9E9;
    }
    
  }
  .menu-item:hover {
    background-color: #efeded;
    // .menu-title {
    //   color: white !important;
    // }
  }
}
.menu.active {
  z-index: 10;
  display: block;
}
.divider-wrapper {
  margin: 20px 0 20px 0;
  position: relative;
  .btn-right {
    width: auto !important;

    right: 0;
  }
  button {
    top: 0;
    position: absolute;
  }
  h2 {
     width: 100%;
     text-align: center;
     border-bottom: 1px solid #CCCCCC;
     line-height: 0.1em;
    //  margin: 10px 0 20px;
     margin: 24px 0 20px;

     font-size: 20px;
     /* SIGN IN: */
     font-family: 'lato', sans-serif;
     color: #777777;
     display: inline-block;
     letter-spacing: 0.94px;
     font-weight: 400;
     letter-spacing: 1.25px;
  }

  h2 span {
      background:$color-background;
      padding:0 40px;
  }
}

//
// input[type=radio] {
// 	display: none;
// }
//
// input[type=radio] + label {
// 	padding-left: 50px;
//   background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left top no-repeat;
// }
//
// input[type=radio]:checked + label {
//   background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left top no-repeat;
// 	display: block;
// 	min-height: 23px;
// 	padding-left: 50px;
// }

  // label {
  //       font-family: 'lato', sans-serif;
  //       font-weight: 300;
  //       color: #777777;
  //       letter-spacing: 1px;
  //       font-size: $font-size
  //     }
  //     [type="radio"]:checked,
  //   [type="radio"]:not(:checked) {
  //       position: absolute;
  //       left: -9999px;
  //   }
  //   [type="radio"]:checked + label,
  //   [type="radio"]:not(:checked) + label
  //   {
  //       position: relative;
  //       padding-left: 36px;
  //       cursor: pointer;
  //       line-height: 25px;
  //       display: inline-block;
  //       color: #666;
  //   }
  //   [type="radio"]:checked + label:before,
  //   [type="radio"]:not(:checked) + label:before {
  //       content: '';
  //       position: absolute;
  //       left: 0;
  //       top: 0;
  //       width: 20px;
  //       height: 20px;
  //       border: 3px solid $color-accent;
  //       border-radius: 100%;
  //       background: transparent;
  //   }
  //   [type="radio"]:checked + label:after,
  //   [type="radio"]:not(:checked) + label:after {
  //       content: '';
  //       width: 12px;
  //       height: 12px;
  //       background: $color-accent;
  //       position: absolute;
  //       top: 7px;
  //       left: 7px;
  //       border-radius: 100%;
  //       -webkit-transition: all 0.2s ease;
  //       transition: all 0.2s ease;
  //   }
  //   [type="radio"]:not(:checked) + label:after {
  //       opacity: 0;
  //       -webkit-transform: scale(0);
  //       transform: scale(0);
  //   }
  //   [type="radio"]:checked + label:after {
  //       opacity: 1;
  //       -webkit-transform: scale(1);
  //       transform: scale(1);
  //   }
select {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  font-family: 'lato', sans-serif;
  font-size: $font-size;
  width: 100%;
  overflow: hidden;
  padding: 13px 0  13px 0px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  border-radius:0px !important;
  height: 49px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('http://www.davettur.com/themes/html/fonts/Svg_icons/expand-button.svg');
  background-position: 95% 21px;
  background-size: 11px;
background-repeat: no-repeat;
}

.pill{
  height: 30px;
  border-radius: 100px;
  font-family: 'OpenSans',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}
  .denied{
    width: 100px;
  background-color: #cf000f;
  }
  .approved{
  background-color: #42c878;
  width: 125px;
  }
  .pending{
    background-color: #cccccc;
    width:120px;
  }


.material-icons.md-18 {
  font-size: 18px;
}

.bar-chart-container {
  margin: auto;
  tspan,p,ul {
    font-family: 'lato', sans-serif;
    font-weight: 300
  }
}

.search {
  width: 80%;
  margin: auto;
  input:focus{
    outline: none;
  }
  .card {
    padding: 0px 0px 0px 25px;
    input {
      display: inline-block;
      width: 93% !important;
      height: 52px;
      padding: 0;
      border: none;
    }
    i {
      font-size: 22px;
      margin-top: 15px;
      color: #969696;
      width: 6%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      float: right;
    }
  }
}

.tint {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  opacity: 0.7;
  background-color: #214358;
}
.popup-container {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 30;
  left: 0;
  overflow: scroll;
  display: none;
  // background-color: aqua;
  position: fixed;
  .card {
    background-color: $color-background;
    z-index: 1;
    position: absolute;
width: 100%;
    overflow: visible;
  }
}

.popup-container.active {
  display: block;
}

.header{
  large {
    color : #333333;
  }
    span {
      display: block;
      background-color: $color-accent;
      width: 28px;
      margin-top: 17px;
      height: 3px;
  }
}
.header.center {
  large {
    width: 100%;
    text-align: center;
  }
    span {
      margin: 20px auto;
  }
}

.project-header {
  large {
  }
  large:nth-child(1) {
    // font-family: 'open-sans', sans-serif;
    color: #777777;
    font-weight: 300;
  }
  large:nth-child(2) {
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 600;

  }
}

// <<<<<<< HEAD
//
//
// .table {
//   border-collapse: collapse;
//   width: 100%;
//
//   tr {
//     border-bottom: 1px solid #F6F6F6;
//   }
//   th {
//     padding: 20px 0;
//     text-align: left;
//     font-family: 'lato', sans-serif;
//     font-weight: 400;
//     color: #777777;
//   }
//   td {
//     color: #6b6b6b;
//     font-size: 13px;
//     font-family: 'lato', sans-serif;
//     font-weight: 300;
//     padding: 20px 0;
//
//   }
//
// }
// =======
Tabs {
  Tab{
    list-style:none
  }
}



.checkbox-button {
  label {
        font-family: 'lato', sans-serif;
        font-weight: 300;
        color: #777777;
        letter-spacing: 1px;
        font-size: $font-size
      }
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label
    {
        position: relative;
        padding-left: 36px;
        cursor: pointer;
        line-height: 25px;
        display: inline-block;
        color: #666;
    }
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: solid 1px #777777 ;
        border-radius: 5px;
        background: transparent;
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 20px;
        height: 20px;
        background: url('../img/check.png') no-repeat center center;
        position: absolute;
        top: 0px;
        left: 2px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.table.workplan {
  width: 100%;
  th:first-child {
  padding-left:20px;
  padding-right:0;
}
  th {
    text-align: left;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 12px;

    color: #777777;
  }
  td {
    padding: 13px 0;
    font-size: 11px;
  }
}


.table{
  border-collapse: collapse;
  width:100%;

  tr{
    border-bottom: 1px solid #F6F6F6;
  }

  th{
    padding:20px 0;
    text-align: left;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    color: #777777;
  }

  th {
    font-size: 12px;
  }

  td{
    color: #6b6b6b;
    font-size: 13px;
    font-family: 'lato',sans-serif;
    font-weight: 300;
    padding: 20px 0;
  }

}

.alert-popup {
  position: fixed;
  width: 48%;
  border-radius: 6px;
  background-color: #e7666a;
  padding: 25px;
  left: 24%;
  margin: auto;
  opacity: 0;
  // display: none;
  top: -100px;
  z-index: 3;
  -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
  small {
    color: white
  }
}

.alert-popup.active {
  display: block;
  opacity: 1;
  top: 30px;
  
}

.loader-login-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  .load {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    // background-color: rgba(255, 255, 255, 0.91);
  }
}

.loader-wrapper {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 400px;
  .load {
    z-index: 2;

    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.91);
  }
}

:global .react-datepicker__input-container {
  width: 100%;
}

:global .react-datepicker-wrapper{
  width:100%;
}

.upload-workplan{
  width: 750px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}


.footer{ 

  text-align: center; 
  height: auto; 
 
  p{ 
    display: block; 
    font-size: 14px; 
    padding:20px 0; 
    font-family: 'Open Sans',sans-serif; 
    font-weight: lighter; 
    margin:auto; 
  } 
} 

.rebase-create{
  color:#91D524
}

.rebase-edit{
  color:#FCCA04
}

.rebase-delete{
  color:red
}