.card.profile {
  // padding: 30px;
  // margin: 0px 40px 0 0;
  large {
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      color: $color-accent;
      margin-top: 10px
    }
  }

.margin{
  margin: 20px;

}
}


.projects {
  .btn-secondary {
    float: right;
  }
  .card {
    padding: 23px 32px;
    .project-name {
      color: #333333;
    }
    .project-status {
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }
    .line-bar {
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid #EEEEEE;
    }
  }
}

#prouds-logo{
    width: 150px;
    height: 32.5px;
    display: inline-block;
    margin: 27px 0;
    float: left;
    background-image: url('../img/logo-prouds.png');
}

