.card.profile {
  // padding: 30px;
  margin: 40px 40px 0 0;

.margin{
  margin: 20px;
  .pic-wrapper {
    width: 150px;
    height: 150px;
    background-color: $color-secondary;
    border-radius: 100%;
  }
}
}
