.card.profile {
  padding: 20px 20px 0 20px;
  // margin: 0px 40px 0 0;
  large {
    text-transform: capitalize;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      color: $color-accent;
      margin-top: 10px
    }
  }

.margin{
  margin: 20px;

}
}


.projects {
  margin-bottom: 50px;
  
  .btn-secondary {
    float: right;
  }

  .card {
    height: 40px;
    padding: 10px 20px;
    margin-bottom: 0;
    cursor:pointer;

    &:hover{
      background: #f6f6f6;
    }

    .project-name {
      font-size: 14px;
      line-height: 38px;
      color: #333333;
    }

    .project-status {
      font-size: 14px;
      line-height: 38px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }

    .line-bar {
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid #EEEEEE;
      margin: 15px 0;
    }
  }
}
