.dataset{
  .heading:nth-child(n+2){
    display: inline-block;
    margin-left: 60px;
    cursor: pointer;
  }
  .heading:first-child{
    cursor: pointer;
  }
 
  .one-third{
   padding:0;
 }
}



.pagination {
  /* Rectangle 4: */
  background: #f57556;
  border-radius: 5px;
  outline: none;
  margin:7px;
  border: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}

.arrow {
  /* Rectangle 4: */
  background: white;
  border-radius: 5px;
  outline: none;
  margin:7px;
  border: 1px #f57556 solid;
  color: #f57556;
  display: inline-block;
  padding: 9px 14px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}