.card.login {
  width:700px;
  margin: 0 auto;
  // height: 500px;
  #picture {
    width: 100%;
    height: 500px;
    background-image: url('../img/log-in-image.png');
    
  }

  #prouds-logo-big{   
    margin-top:370px;
    margin-left: 20px;
    width: 90%;
    
  }

  .margin {
    margin: 39px;
    h1 {
      font-size: 25px
    }
    h2{
      margin: 10px 0;
    }
    .input-desc {
      font-size: 21px;
    }
    input {
      width: 100%;
    }

    large{
      margin-bottom: 50px;
    }

    a{
      text-decoration: none;
    }

    medium{
      display: inline-block;
      margin-left: 20px;
    }

  }

}
