.completion-bar {
  width: 55%;
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
}

.btn-wrapper {
  margin: 40px auto;
  width: 456px;
  display: block;
  button {
    width: 208px;
  }
}
