.project {
  .sidebar {
    button {
      width: 100%;
    }
    ul {
      margin-top:50px;
      padding-left: 28px;
      list-style: none;
      li {
        margin-top: 15px;

        a{
            text-decoration: none;
            color:#333;

            -webkit-transition: padding-left 0.25s; /* Safari */
            transition: padding-left 0.25s;

            &:hover{
              padding-left: 10px;
              color:$color-accent;
            }
        }

        a.active{
          color:$color-accent;
        }
      }
    }
  }
}

.project-workplan {
  .tab {
    small {
      color : #ccc;
    }
    .status-total {
      font-weight: 400;
      font-size: 24px;
    }
  }
}




.resolved{
  font-family: 'OpenSans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #42c878;
}

.not-resolved{
  font-family: 'OpenSans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #cf000f;
}
