.project {
  .sidebar {
    button {
      width: 100%;
    }
    ul {
      padding-left: 28px;
      list-style: none;
      li {
        margin-top: 22px;
        small.active {
          color: $color-secondary;
        }
      }
    }
  }
}
