.project {
  .sidebar {
    button {
      width: 100%;
    }
    ul {
      padding-left: 28px;
      list-style: none;
      li {
        margin-top: 22px;
        small.active {
          color: $color-secondary;
        }
        small:hover{
          cursor: pointer;
        }

      }
    }
  }
}

.project-workplan {
  .tab {
    small {
      color : #ccc;
    }
    .status-total {
      font-weight: 400;
      font-size: 24px;
    }
  }
}




.resolved{
  font-family: 'OpenSans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #42c878;
}

.not-resolved{
  font-family: 'OpenSans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.88;
  letter-spacing: 1.3px;
  color: #cf000f;
}
