.reports{
  .heading{
    display: inline-block;
    margin-left: 60px;
  }
  .heading:last-child{
    float:right;
  }  
}

.project-value-label{
  font-family: 'Lato',sans-serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-align: left;
  color: #777777;
  margin-top: 20px;
}


.project-value-number{
  font-family: 'OpenSans',sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #333333;
  margin:10px 0;
}

.completed{
  color: #42c878;
}

.in-progress{
   color: #65bdf4;
}

.on-hold{
  color: #777777;
}

.due-in{
  color: #ffea73;
}

.overdue{
  color: #cb0000;
}

.fa-question-circle-o{
  margin-left:5px;
  color: #fa5962;
}

.status{
  display:inline-block;
  
}

.pagination {
  /* Rectangle 4: */
  background: #f57556;
  border-radius: 5px;
  outline: none;
  margin:7px;
  border: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}

.arrow {
  /* Rectangle 4: */
  background: white;
  border-radius: 5px;
  outline: none;
  margin:7px;
  border: 1px #f57556 solid;
  color: #f57556;
  display: inline-block;
  padding: 9px 14px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  font-size: 15px;
}