//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
//colors
$color-background : #FAFAFA;
$color-primary : #CF000F;
$color-secondary : #FA5962;
$color-accent : #F48165;
$blue : #65BDF4;
$green : #42C878;
