//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

//colors
$color-background : #FAFAFA;
$color-primary : #CF000F;
$color-secondary : #FA5962;
$color-accent : #F48165;
