//fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');
//colors
$color-background : #FAFAFA;
$color-primary : #CF000F;
$color-secondary : #FA5962;
$color-accent : #F48165;
$blue : #65BDF4;
